<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="logo" src="images/CVeloper_logo_texto.png" alt="Logo CVeloper" />
            </div>
            <div class="col-6">
                <a href="{{ path('home_type') }}"><button class="header-button">Registrarse</button></a>
                <a href="sign_in.html"><button  class="header-button">Iniciar sesión</button></a>
            </div>
        </div>

    </div>
</header>
