{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
    <section class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="sign_up_dev.html"><article>
                <div>
                    <h1><i class="fas fa-code"></i></h1>
                    <h3><b>Desarrollador</b></h3>
                    <hr>
                    <p>Elige entre múltiples plantillas de diseño para darle un formato profesional a tu currículum.</p>
                    <p>Busca el mejor centro educativo para formarte como desarrollador o busca centros cerca de tu zona.</p>
                    <p>Encuentra el empleo que mejor se adapte a tus necesidades.</p>
                    <p>Publica tu currículum online para que todos puedan encontrarte.</p>
                </div>
            </article></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="sign_up_academy.html"><article>
                <div>
                    <h1><i class="fas fa-graduation-cap"></i></h1>
                    <h3><b>Centro Formativo</b></h3>
                    <hr>
                    <p>Publica tu oferta de formación para captar futuros alumnos.</p>
                    <p>Informa de las tecnologías impartidas en tu centro.</p>
                    <p>Firma convenios de colaboración con empresas para prácticas, formación en centros de trabajo o becas.</p>
                </div>
            </article></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="sign_up_company.html"><article>
                <div>
                    <h1><i class="fas fa-handshake"></i></h1>
                    <h3><b>Empresa</b></h3>
                    <hr>
                    <p>Publica tus ofertas de empleo relacionadas con el mundo del desarrollo.</p>
                    <p>Busca perfiles que se adapten a las necesidades profesionales de tu empresa.</p>
                    <p>Firma convenios de formación con centros de formación para prácticas y becas.</p>
                    <p>Revisa los curriculums de todos los candidatos sin salir de la web.</p>
                </div>
            </article></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="sign_up_recruiter.html"><article>
                <div>
                    <h1><i class="fas fa-lightbulb"></i></h1>
                    <h3><b>Reclutador</b></h3>
                    <hr>
                    <p>Encuentra candidatos que se ajusten a tus criterios de búsqueda, eligiendo las tecnologías que necesitas por orden de prioridad.</p>
                    <p>Visualiza los candidatos disponibles afines a tus criterios de búsqueda.</p>
                    <p>Contacta de forma inmediata con el candidato elegido y empieza a trabajar con él.</p>
                </div>
            </article></a>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}{% endblock %}
