{% extends 'base.html.twig' %}

{% block title %}Editar Nivel Tecnología{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Editar Nivel Tecnología</h1>

    {{ include('dev_tech/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('dev_tech_index') }}">Volver al Listado</a>

    {{ include('dev_tech/_delete_form.html.twig') }}
{% endblock %}
