.icons {
	text-align: center;
	font-size: 2rem;
}
.centrado {
	text-align: center;
}

caption {
	caption-side: top;
	font-size: 1.5rem;
}

.oculto {
	display: none;
}

article {
	padding: 12px 18px;
	margin-bottom: 24px;
	border-radius: 3px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

article p {
	margin: 0;
}

article span {
	font-size: 0.9em;
	display: inline-block;
}

article > p,
article span:first-of-type,
article > div > p:not(:first-of-type) {
	margin-top: 15px;
}

article img {
	width: 100%;
}

article > div {
	text-align: center;
	padding-top: 18px;
}

article > div > p {
	font-size: 0.9em;
}

.derecha {
	text-align: right;
}

div.ranking p {
	font-size: 1.1em;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.ranking p.puntos {
	background-color: grey;
	padding-right: 12px;
}

div.ranking:nth-child(2) p.puntos {
	display: inline-block;
	width: 86.5%;
}

div.ranking:nth-child(3) p.puntos {
	display: inline-block;
	width: 78.5%;
}

div.ranking:nth-child(4) p.puntos {
	display: inline-block;
	width: 70.0%;
}

div.ranking:nth-child(5) p.puntos {
	display: inline-block;
	width: 65.0%;
}

div.ranking:nth-child(6) p.puntos {
	display: inline-block;
	width: 62.0%;
}

div.ranking:nth-child(7) p.puntos {
	display: inline-block;
	width: 47.5%;
}

div.centrar p,
div.centrar h1 {
	text-align: center;
}

div.centrar h1 > a:not(:last-child) {
	margin-right: 3%;
}

img.map {
	width: 85%;
}

/* ################################################################## HEADER */

body > header img.logo {
	margin-top: 7px;
	width: 200px;
	float: left;
}
	
body > header p.header-text {
	font-size: 2rem;
	color: #ff9500;
	width: 200px;
	float: left;
	margin-top: 30px;
	padding: 0px;
	margin-bottom: 0px; 
}
	
body > header {
	height: 140px;
	background-color: #222222;
}

body > header button.header-button {
	margin-top: 20px;
}

body > header button.nav-button, button.header-button {
	color: orange !important;
}

body > header nav {
	margin: 0 auto;
	width: auto;
	margin-bottom: 10px;
}

/* ################################################################## HEADER */

body {
	padding-top: 0px;
}

img.cv {
 	width: 100%;
}

div.cv {
	background-color: orange;
    padding-top: 12px;
    padding-right: 24px;
}