{% extends 'base.html.twig' %}

{% block title %}Editar Formación{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Editar Formación</h1>

    {{ include('training/_form.html.twig', {'button_label': 'Actualizar Datos'}) }}

    <a href="{{ path('training_index') }}">Volver al Listado</a>

    {{ include('training/_delete_form.html.twig') }}
{% endblock %}
