{% extends 'base.html.twig' %}

{% block title %}New Training{% endblock %}

{% block body %}
    <h1>Create new Training</h1>

    {{ include('training/_form.html.twig') }}

    <a href="{{ path('training_index') }}">back to list</a>
{% endblock %}
