{% extends 'base.html.twig' %}

{% block title %}Añadir Datos Adicionales{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Añadir Datos Adicionales</h1>

    {{ include('additional/_form.html.twig') }}

    <a href="{{ path('additional_index') }}">Volver al Listado</a>
{% endblock %}
