{% extends 'base.html.twig' %}

{% block title %}Editar Experiencia{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Editar Experiencia</h1>
              {{ include('experience/_form.html.twig', {'button_label': 'Actualizar Datos'}) }}
                <a href="{{ path('experience_index') }}">Volver al Listado</a>
        {{ include('experience/_delete_form.html.twig', {'button_label': 'Borrar'}) }}
{% endblock %}
